.ape-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 250px;
    // max-width: 350px;

    position: relative;
    z-index: 2;
    
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(100px);
    }
  
    /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background: #181B1C;
    }

    border-radius: 10px;
    padding: 26px 0;

    .owner-badge{
      position: fixed;
      right: 39px;
      top: 39px;
    }

    .card-image{
      cursor: pointer;
    }

    .card-title {
      font-family: Montserrat Medium;
      font-weight: 500;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.6);
      text-align: center;
      .MuiTypography-colorPrimary {
        color: white;
      }
    }

    .card-opensea-link {
      font-family: Montserrat Medium;
      font-weight: 500;
      font-size: 16px;
      margin-top: 30px;
      color: rgb(83, 255, 60);
      text-align: center;
    }

    .card-tier {
        font-family: Montserrat Medium;
        font-weight: 500;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
      }

    .card-name-wrap{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .card-name-text {
        font-family: Montserrat Medium;
        font-weight: 500;
        font-size: 24px;
        font-weight: bold;
        color: rgba(255, 255, 255, 1);
        text-align: left;
      }
      .card-copylink{
        display: flex;
        align-items: center;
        margin-left: 30px;
        position: fixed;
        right: 20px;
        padding: 10px;
        border-radius: 10px;
        background: #ffffff55;
        cursor: pointer;
        // top: 39px;
        &:hover{
          background-color: #ffffff33;
        }
        &:active{
          background-color: #ffffff11;
        }
      }
    }
    
    

    .dapp-topbar-btns-wrap{
        display: flex;
        align-items: center;
        padding-left: 20px;
        // width: 100%;
      }
    
    .dapp-topbar-btns-wrap-full{
        display: flex;
        align-items: center;
        margin-left: auto;
        width: 100%;
        justify-content: center;
        div {
          width: 60%;
          margin-left: 20px;
          justify-content: center;
        }
      }

    .card-value {
      font-family: Montserrat Bold;
    //   font-weight: bold;
      font-size: 14px;
      color: #FFFFFF;
      padding-bottom: 20px !important; 
    }
  }