footer{
    margin-top: 30px;
    padding: 30px 10%;
    // position: fixed;
    bottom: 0;
    display: block;
    flex-direction: row;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    .footer-text-wrap{
        // margin: 0 !important;
        margin-bottom: 15px;
        p{
            font-family: Montserrat Medium;
            font-style: normal;
            font-size: 20px;
            color: #FFFFFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            a {
                color: #FFFFFF !important;
            }
        }
    }
    .footer-link-logo {
        img{
            margin-bottom: 10px;
        }
    }
    .footer-list {
        // text-align: center;
        list-style-type:none;
        padding-left: 30%;
        font-family: Montserrat Medium;
        font-style: normal;
        font-size: 18px;
        color: #fff9;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        a {
            color: #FFFFFF !important;
        }
        li {
            padding-bottom: 10px;
        }
    }

    .footer-list-title {
        padding-top: 16px;
        // text-align: center;
        padding-left: 30%;
        font-family: Montserrat Medium;
        font-style: normal;
        font-size: 20px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}